<div class="container__big-card">
    
        <div class="big-card__image">
            <img 
                 src="{{photoCover}}"
                 alt="FALHOU"
                 srcset=""
                 
                >
        </div>
        <div class="big-card__title">
            <h1><a href="{{cardTitleHref}}">{{cardTitle}}</a></h1>
        </div>
        <div class="big-card__description">
            <p><a href="{{cardDescriptionHref}}">{{cardDescription}}
            </a></p>
        </div>
    
</div>


<!-- No Angular v16 ganhamos um novo sistema de hidratação. Também foi sugerido que experimentos para hidratação parcial e retomada estão em andamento. Esta é uma ótima notícia para os desenvolvedores Angular, mas ainda há muito trabalho a ser feito para tornar os aplicativos Angular com melhor desempenho e SEO mais amigáveis. -->