


<app-menu-title></app-menu-title>


<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        Id="1"
        photoCover="https://images2.alphacoders.com/837/837971.png"

        cardTitle="Gengar:  O Fantasma Sombrio"

        cardDescription="Gengar é um Pokémon do tipo fantasma/veneno introduzido na Geração I. É a forma evoluída de Haunter. É um Pokémon de cor roxa, com orelhas triangulares, olhos pretos com globos oculares vermelhos e um sorriso malicioso..."

        cardDescriptionHref="https://blog.angular.io/incremental-static-regeneration-for-angular-c12745ff4b48"

        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        Id="2"
        photoCover="https://i.pinimg.com/originals/19/1e/7c/191e7c5444a1e11ecc2b40a9bf920e93.jpg"

        cardTitle="Banette: o espírito da boneca abandonada"

        
        ></app-small-card>
        <app-small-card
        Id="3"
        photoCover="https://i.pinimg.com/564x/e8/8a/26/e88a26ed7508bbbd454e84fb1f32cabf.jpg"

        cardTitle="Dusknoir: o Pokémon fantasma da noite"

        
        ></app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://i.pinimg.com/564x/c9/c5/8e/c9c58efc209994d249c97219076e22f2.jpg"

        cardTitle="Darkrai: o Pokémon da escuridão dos Pesadelos"

       
        ></app-small-card>
    </div>
</div>